.contacto__input{
    width: 41rem;
    height: 3.5rem;
    margin-bottom: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: justify;
}

.contacto__input::placeholder{
    color: #A2A2A2;
}